<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amit's Site</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main w-full min-h-screen bg-zinc-900 text-white">

    <div class="form p-10">
      <form class="" action="/create" method="post">
        <input class="bg-zinc-800 block px-5 py-2 rounded-xl w-full outline-none" name="title" type="text"
          placeholder="Task title">
        <textarea class="bg-zinc-800 block mt-5 px-5 py-2 resize-none rounded-xl w-full outline-none" name="details"
          placeholder="Write Your Issues Details Here.."></textarea>
        <input class="mt-2 bg-blue-600 p-2 rounded-xl" type="submit" value="Create Task">
      </form>
    </div>

    <div class="tasks p-10 flex flex-wrap gap-3">
      <% if (files.length> 0) { %>
        <% files.forEach((val)=> { %>
          <div class="task w-67 px-3 py-4 bg-zinc-800 rounded-xl">
            <h1 class="text-white text-2xl tracking-tighter">
              <%= val %>
            </h1>
            <div class="flex w-full justify-between item-center mt-3">
              <a class="text-blue-500 inline-block" href="/files/<%= val %>">Read More..</a>
              <a class="text-zinc-500" href="/edit/<%= val %>">edit</a>
            </div>
          </div>
          <% }) %>
            <% } else { %>
              <h3 class="text-zinc-700">No tasks yet..</h3>
              <% } %>
    </div>

  </div>
</body>

</html>